################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/proyecto-final-battleship-proyectobattleship/v16/Browse.VC.opendb
